.App {
  text-align: center;
}

body {
  color: whitesmoke;
  background-color: #222;
}

.div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

input {
  width: 20rem;
  padding: 0.5rem;
  background-color: #222;
  border: 0.5px solid whitesmoke;
  width: 100%;
  border-radius: 20px;
  color: whitesmoke;
}

input:focus {
  outline: none;
}

.snacks-table {
  border-collapse: collapse;
  width: 100%;
}

.snacks-table th,
.snacks-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  height: 1.5rem;
}

.snacks-table td:hover {
  transition: 0.3s;
  background-color: gray;
}

.snacks-table th {
  padding: 10px;
  transition: 0.3s;
  background-color: crimson;
  color: whitesmoke;
  cursor: pointer;
}

.snacks-table th:hover {
  color: #252525;
  background-color: whitesmoke;
}
